
#hero {
	height: 100%;
	background-color: rgba(255, 206, 0, 0.6);
}
#event-details {
	height: 25%;
	background-color: #F53240;
	padding-top: 3%;	

}
#faq {
	height: 25%;
	background-color: #008F95;
	padding-top: 3%;	
	
}
#sponsors {
	height: 25%;
	background-color: #192231;
	padding-top: 3%;
	
}
#team {
	height: 25%;
	background-color: #A239CA;
	padding-top: 3%;	
}
h1 {
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

i {
    display: inline-block;
    width: 100%;
	color: white;
	text-align: center;
}
#textual-content {
	padding-top: 50vh;
    width: 100%; /*set to 100% so text-align will fall in the center of the image*/
    text-align: left; /*text will be horizontally centered in the image*/
    color: white;
}
.title-text {
	padding-left: 10px;
	font-size: 70px;
	color: white;
	font-family: 'Lato', sans-serif;
    color: white;

}

.helper-buttons {
	padding-left: 10px;
	text-align: left;
	padding-top: 5vh;
}
.register {
	color: #fff;
 	background: transparent;
 	border: 2px solid #813772;
 	font-size: 20px;
 	height: 50px;
 	font-weight: normal;
 	text-align: center;
 	text-decoration: none;
 	font-family: 'Open Sans', sans-serif;
 	min-width: 120px;
 	padding-left: 10px;
}
.contact {
	color: #fff;
 	background: transparent;
 	border: 2px solid #813772;
 	font-size: 20px;
 	height: 50px;
 	font-weight: normal;
 	text-align: center;
 	text-decoration: none;
 	font-family: 'Open Sans', sans-serif;
 	min-width: 120px;
 	padding-left: 10px;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  	background-size: cover;
  	transition: 1s opacity;
}