
body {
	overflow-x: hidden; 
}
.clickable {
    cursor: pointer;
}
#hero {
	height: 100%;
	background-color: rgba(255, 206, 0, 0.4);
}
#event-details {
	background-color: #F53240;
	height: 25%;
	min-height: 156px;
	padding: 1.5em;
	
}
#faq {
	background-color: #008F95;	
	height: 25%;
	min-height: 156px;
	padding: 1.5em;
	
}
#sponsors {
	background-color: #192231;
	height: 25%;
	min-height: 156px;
	padding: 1.5em;
}
#team {
	background-color: #A239CA;	
	height: 25%;
	min-height: 156px;
	padding: 1.5em;
}
h2, h3 {
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

i {
    display: inline-block;
    width: 100%;
	color: white;
	text-align: center;
}
#textual-content {
	padding-top: 35vh;
    width: 100%; /*set to 100% so text-align will fall in the center of the image*/
    text-align: left; /*text will be horizontally centered in the image*/
    color: white;
}
.title-text {
	margin-left: 5px;
	font-size: 38px;
	color: white;
	font-family: 'Lato', sans-serif;
    color: white;

}

.helper-buttons {
	padding-left: 10px;
	text-align: left;
	padding-top: 5vh;
}
.register {
	color: #fff;
 	background: transparent;
 	border: 2px solid #fff;
 	font-size: 20px;
 	height: 50px;
 	font-weight: normal;
 	text-align: center;
 	text-decoration: none;
 	font-family: 'Open Sans', sans-serif;
 	min-width: 120px;
 	padding-left: 10px;
}
.contact {
	color: #fff;
 	background: transparent;
 	border: 2px solid #813772;
 	font-size: 20px;
 	height: 50px;
 	font-weight: normal;
 	text-align: center;
 	text-decoration: none;
 	font-family: 'Open Sans', sans-serif;
 	min-width: 120px;
 	padding-left: 10px;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  	background-size: 100%;
  	transition: 1s opacity;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}
.modal.fade .modal-dialog {
    -webkit-transform: translateZ(1500px) rotateY(-179.9deg);
	transform: translateZ(1500px) rotateY(-179.9deg);
    -ms-transform: rotateY(180deg);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: translateZ(1500px) rotateY(-179.9deg);
	transform: translateZ(1500px) rotateY(-179.9deg);
    -ms-transform: translateZ(1500px) rotateY(-179.9deg);
    -webkit-transform: translate3d(0, -300px, 0);
    bottom: 300px;
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

#event-details-modal .modal-body{
	background-color: #F53240;
	height: 100%;
	color: white;
	overflow-y: auto;
	font-family: 'Open Sans', sans-serif;
}
#faq-modal .modal-body {
	background-color: #4f8ffa;	
	height: 100%;
	color: white;
	overflow-y: auto;
	font-family: 'Open Sans', sans-serif;
}
#sponsors-modal .modal-body {
	background-color: #EEAA78;	
	height: 100%;
	overflow-y: auto;
	font-family: 'Open Sans', sans-serif;
}
#sponsors-modal .modal-body a img {
    max-width: 100%;
    height: auto;

}
#team-modal .modal-body {
	background-color: #A239CA;	
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden; 
	
}
img {
	text-align: center;
}
a {
	color: #ADD8E6;
}

.teamster {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	#event-details {
		background-color: #F53240;
		height: 25%;
		min-height: 156px;
		padding: 3em;
	
	}
	#faq {
		background-color: #008F95;	
		height: 25%;
		min-height: 156px;
		padding: 3em;
		
	}
	#sponsors {
		background-color: #192231;
		height: 25%;
		min-height: 156px;
		padding: 3em;
	}
	#team {
		background-color: #A239CA;	
		height: 25%;
		min-height: 156px;
		padding: 3em;
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
	#event-details {
		background-color: #F53240;
		height: 25%;
		min-height: 156px;
		padding: 3em;
	
	}
	#faq {
		background-color: #008F95;	
		height: 25%;
		min-height: 156px;
		padding: 3em;
		
	}
	#sponsors {
		background-color: #192231;
		height: 25%;
		min-height: 156px;
		padding: 3em;
	}
	#team {
		background-color: #A239CA;	
		height: 25%;
		min-height: 156px;
		padding: 3em;
	}
}

