            .movie-card-demo.mdl-card {
                width: 320px;
                height: 320px;
            }
            .movie-card-demo > .mdl-card__title {
                color: #fff;
                background: url('../img/background5.jpg');
                background-size: 320px;
            }           
            .mdl-card__menu {
                color: #fff;
            }
  
           
            
            