@font-face {
    font-family: "Augie";
    src: url(../fonts/augie.ttf);
}
@font-face {
    font-family: "Hanzel";
    src: url(../fonts/hanzel.ttf);
}
#img-holder {
    background: url(../img/Entech.jpg)  no-repeat ;
    height: 768px;
    background-color: #33aaee;
   
}
.company_name {
    font-family: 'Hanzel', 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 60px;
    padding-top: 30%;
    margin-left: 2%;
    
    
}
.company_subtext {
    font-family: 'Augie', sans-serif;
    color: #fff;
    margin-left: 2%;
   
}
h1 {
   font-family: 'Open Sans Condensed', sans-serif; 
}
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

#text-holder {
   
    background-color: #33aaee;   
}
h5, .mdl-card__title-text {
    color: #fff; 
     
}
.mdl-button {
    margin-left: 30%;
}
.section--about{   
    background-color: #f7f7f7;
    
}
.about--header, .facility--header, .clients--header, .enquiry--header  {
    color: #000;
}
#more-info {
    margin-left: 0;
}
.section--clients {
     background-color: #f7f7f7;
}
.contact--2 {
    margin-top: 9.1%;
}
.mdl-card {
    width: auto;
    margin-top: 2%;
    height: 320px;
}
#machine1 {
    height: 250px;
    background: url('../img/machine1.jpg') center / cover;
} 
#machine2 {
    background: url('../img/machine2.jpg') center / cover;
    height: 250px;
} 
#machine3 {
    background: url('../img/machine3.jpg') center / cover;
    height: 250px;
} 
#machine4 {
    background: url('../img/machine4.jpg') center / cover;
    height: 250px;
} 
.section--technology {
    text-align: center;
}
table {
    width: 50%;
    margin: auto;
    text-align: center;
}
#plant-head, #admin, #conventional, #market, #design, #manufacturing, #CNC, #EDM, #milling {
    text-align: center;
    border:1px solid black;

}
.section--people > .mdl-grid > div > h5 {
    color: #000;
}
body {
    background-color: #fff;
}
.section--people, .section--machinery {
    
    background-color: #f9f6f5;
}
.process-img {
    background: url('../img/process.png') center /cover;
    height: 477px;
    width: 820px;
    margin-left: 60%;    
}
.card-wide {
    border-radius: 15px;
}
.guide__header {
    height: 20px;
}
#boeing1 {
    background: url('../img/aviation/boeing.png') center / cover;
    height: 220px;
    
}
#boeing2 {
    background: url('../img/aviation/aviation-1.png') center / cover;
    height: 220px; 
}
#boeing3 {
    background: url('../img/aviation/aviation-2.png') center / cover;
    height: 220px; 
}
#unominda {
    background: url('../img/unominda/unominda-1.png') center / cover;
    height: 220px; 
}
#unominda2 {
    background: url('../img/unominda/unominda-3.jpg') center / cover;
    height: 220px; 
}
#airconditioning {
    background: url('../img/it/it-1.png') center / cover;
    height: 220px; 
}
#genus {
    background: url('../img/genus/genus-1.png') center / cover;
    height: 220px; 
}
#matrix {
    background: url('../img/matrix.png') center / cover;
    height: 220px; 
}
#kessebohmer {
    background: url('../img/kessenbohmer/kessenbohmer-1.JPG') center / cover;
    height: 220px; 
}
#larsen {
    background: url('../img/switchgear/switchgear-1.JPG') center / cover;
    height: 220px; 
}
#vetus {
    background: url('../img/switchgear/switchgear-2.JPG') center / cover;
    height: 220px; 
}
#denso {
    background: url('../img/denso.JPG') center / cover;
    height: 220px; 
}
#portescap {
    background: url('../img/health/health-2.png') center / cover;
    height: 220px; 
}
